body {
  overflow: auto;
  margin: 0;
}

.header {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fbfbfb;
  border-bottom: 2px solid #f4f4f4;
}

.header-title {
  font-size: 2rem;
  font-weight: bold;
}

.header-time {
  display: inline-block;
  margin-left: 10px;
  font-size: 1rem;
  color: #71777c;
}

.content {
  padding: 0 40px;
}

.block-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.summary-item {
  margin-top: 10px;
}

.summary-item span:first-child {
  display: inline-block;
  width: 150px;
}

#problems {
  margin-top: 30px;
  opacity: 0;
  transition: opacity 1s ease;
}

#problems.visible {
  opacity: 1;
}

.problem-title {
  display: inline-block;
}

.copy-button {
  display: inline-block;
  margin-left: 15px;
  color: #1890ff;
  font-size: 0.8rem;
  cursor: pointer;
}

.problem-table {
  margin-top: 10px;
  text-align: left;
}

table, th, td {
  padding: 6px 15px;
}

table, tr {
  border: 1px solid #ddd;
  border-collapse: collapse;
}

.table-align-center-col {
  text-align: center;
}

thead {
  background-color: #fbfbfb;
}

#files {
  margin-top: 30px;
  opacity: 0;
  transition: opacity 1s ease;
}

#files.visible {
  visibility: visible;
  opacity: 1;
}

.file-table {
  margin-top: 10px;
  text-align: left;
}

.check-icon {
  visibility: hidden;
}

.fixable-check {
  visibility: visible;
  color: green;
  width: 1rem;
  height: 1rem;
}
